<!DOCTYPE html>
<html lang="en">

<head>
    




<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Homepage</title>


    <!-- update the version number as needed -->
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-messaging.js"></script>
    <script  src="https://www.gstatic.com/firebasejs/7.14.2/firebase-storage.js"></script>
    <script src= "https://www.gstatic.com/firebasejs/7.14.2/firebase-functions.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/2d10b7aa43.js" crossorigin="anonymous"></script>
    
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">
    
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" width="70" height="50" alt=""> Sami Room
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sessionLogout">Log out</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
    

    <style>
        * {
          box-sizing: border-box;
        }
        
        #myInput {
          background-image: url('/images/searchicon.png');
          background-position: 10px 10px;
          background-repeat: no-repeat;
          width: 100%;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #ddd;
          margin-bottom: 12px;
        }
        
        #myTable {
          border-collapse: collapse;
          width: 100%;
          border: 1px solid #ddd;
          font-size: 18px;
        }
        
        #myTable th, #myTable td {
          text-align: left;
          padding: 12px;
        }
        
        #myTable tr {
          border-bottom: 1px solid #ddd;
        }
        
        #myTable tr.header, #myTable tr:hover {
          background-color: #f1f1f1;
        }
    </style>
</head>

    <body>
        <h2>Available apartments</h2>
        
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        
        <table id="myTable">
            <tr >
                <th><div id ="locationCol">Location<img src="/images/sort icon.png"></div></th>
                <th><div id ="roomsCol" >Rooms<img src="/images/sort icon.png"></div></th>
                <th><div id ="priceCol" >Price<img src="/images/sort icon.png"></div></th>
                <th><div id ="ownerNameCol">Owner name<img src="/images/sort icon.png"></div></th>
                <th>Phone number</th>
                <th>picture</th>
              </tr>
              <img>
    </table>

    <script src="/js/stApp.js"></script>

</body>
<!------------------------------ end head ------------------------------>
<!-- <body>

    <div class="LD_search_wrapper">
        <div class="search-bar-loader-wrapper" style="display: none;">
            <span class="column">
                <span  class="loader">
                <span data-v-29dd05b9="" class="dot"></span> 
                <span data-v-29dd05b9="" class="dot"></span> 
                <span data-v-29dd05b9="" class="dot"></span>
            </span>
        </span>
        </div>
            <form class="search_bar realestate">
                <ul class="search_columns">
                    <li class="search_column col_x4 autocomplete_tooltip">
                        <div class="datalist search_auto_complete">
                            <label class="label">
                                <span class="slot-holder">find street</span>
                                <div class="input-container pt-5">
                                    <div class="input-icon" style="color: rgb(0, 0, 0); display: none;"></div> 
                                    <input type="text" name="city" autocomplete="off" placeholder="For example: Inbar, Ashdod" class="text_input">
                                </div>
                            </label>
                        </div>
                    </li>
                     <!--  -->
                <!-- </ul>
            </form>
    </div> -->
    

    <!-- <div class="card" style="width: 18rem;">
        <img src="/images/id_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Marina, Ashdod</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div> -->
    
<!-- </body> -->
<!-- ---------------------------- end body ---------------------------- --> -->

</html>